.header {
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.navigation {
  display: inline-block;
  align-self: left;
}

.navigation {
    padding: 0 30px;
}