.mainContainer {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.mainContainer h2 {
  text-align: center;
}

.timeUntilRefreshIndicator {
  text-align: right;
  font-size: 11pt;
}

.searchContainer {
  margin-bottom: 50px;
}

.searchBarContainer {
  text-align: center;
}